.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-secondary-color;
    max-width: 372px;
    width: 100%;
    padding: 26px 40px 20px;

    &-heading {
        margin-bottom: 25px;
    }

    &_input {
        max-width: 294px;
        width: 100%;
        padding-bottom: 10px;
        border: none;
        border-bottom: 1px solid; 

        &-holder {
            max-width: 294px;
            width: 100%;
            margin-top: 35px;
        }
    }
}

